---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Features from '../../components/Features.astro';
import ContentShowcase from '../../components/ContentShowcase.astro';
import Pricing from '../../components/Pricing.astro';
import Setup from '../../components/Setup.astro';
import Faq from '../../components/Faq.astro';
import Footer from '../../components/Footer.astro';
import { pageMeta } from '../../i18n/translations';

const meta = pageMeta.is;
---
<Layout locale="is" title={meta.title} description={meta.description} canonical="https://streamvault.tv/is/">
  <Header locale="is" />
  <main>
    <Hero locale="is" />
    <Features />
    <ContentShowcase />
    <Pricing />
    <Setup />
    <Faq />
  </main>
  <Footer />
</Layout>
